@import url("https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Roboto&display=swap");
.header-gral, .header-promos {
  height: fit-content;
  background-image: url(../img/bannerDesarrolloweb.png);
}

.header-promos {
  background-image: url(../img/headersimg/sale50off.jpg);
}

* {
  box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: size;
  padding: 10px;
  color: rgb(69, 62, 70);
}

h1 {
  text-align: center;
  font-family: "Kalam", cursive;
  font-weight: 500;
  padding: 15px;
  color: black;
}

.seccion-anuncio {
  background-color: black;
  width: 100%;
  font-size: 0.8rem;
  overflow-x: hidden;
  color: antiquewhite;
}
.seccion-anuncio a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.contenedor-envios, .contenedor-cuotas, .contenedor-descuentos {
  background-color: black;
  width: 100%;
  position: relative;
  align-items: center;
  margin-left: 10px;
  animation: animation 11s linear infinite;
}
.contenedor-envios a, .contenedor-cuotas a, .contenedor-descuentos a {
  display: flex;
  align-items: center;
}
.contenedor-envios a svg, .contenedor-cuotas a svg, .contenedor-descuentos a svg {
  margin-top: 1px;
  padding-top: 1px;
}
.contenedor-envios a p, .contenedor-cuotas a p, .contenedor-descuentos a p {
  margin-left: 10px;
  margin-bottom: 0px;
}

@keyframes animation {
  0% {
    left: 0%;
    transform: translateX(0%);
  }
  100% {
    left: 100%;
    transform: translateX(100%);
  }
}
.tuEstilo h2 {
  text-align: center;
  position: relative;
}
.tuEstilo h2 span {
  font-size: 1.1rem;
  z-index: 100;
  position: relative;
  padding: 15px;
}

.actions {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions button {
  margin-left: 10px;
  background-color: rgb(187, 128, 226);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 3px;
}
.actions input {
  padding: 6px;
  border-radius: 3px;
  border: none;
  background-color: rgb(243, 214, 227);
}

.bg-pattern, .pagina-error-404 {
  background-repeat: repeat;
  background-attachment: fixed;
}

.contenedor {
  width: 90%;
  height: auto;
  margin: 20px auto;
  padding: 10px 50px;
  overflow-y: auto;
}

.d-flex {
  display: flex;
}

.navbar-brand {
  border-radius: 50%;
}

.about {
  padding: 30 20px;
  padding: 40px;
  font-size: 1em;
  text-align: justify;
}
.about .__box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about .__box p {
  padding-top: 30px;
  color: rgb(180, 7, 166);
  font-weight: 100;
  font-family: "Bitter", serif;
}

.favoritos {
  background-color: rgb(239, 188, 219);
  display: flex;
}

.contacto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
}
.contacto label {
  color: rgb(26, 25, 27);
}

.ayuda {
  display: flex;
  flex-direction: column;
  text-align: center;
}

li {
  list-style: none;
}
li a {
  color: rgb(68, 191, 235);
  list-style-type: none;
  text-decoration: none;
}
li a:hover {
  color: rgb(43, 222, 58);
}

footer {
  padding: 5px 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: deeppink;
  height: auto;
}
footer p {
  color: white !important;
}

.pagina-error-404 li a {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
}

.Promos button {
  border: solid;
  background-color: orchid;
  color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}
.Promos a {
  text-decoration: none;
  color: white !important;
}

.form-ingreso button {
  background-color: #e73186;
}
.form-ingreso .form-check .form-check-input {
  background-color: #e73186;
}

.menuinicial {
  background-color: orchid;
}
.menuinicial img {
  width: 100px;
}
.menuinicial ul li {
  margin-left: 7px;
}
.menuinicial ul li a {
  color: white;
  font-size: 1.5em;
}
.menuinicial ul li a:hover {
  color: deeppink;
}

.logoMarca {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

@keyframes animadoheader {
  0% {
    background-image: url(../img/headersimg/chicacaminando.png);
  }
  50% {
    background-image: url(../img/headersimg/corazones.png);
  }
  75% {
    background-image: url(../img/headersimg/chicacaminando.png);
  }
  100% {
    background-image: url(../img/headersimg/corazones.png);
  }
}
.headerAnimado {
  height: 50vh;
  background-size: cover;
  animation-name: animadoheader;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.productos {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.productos figure {
  width: 20%;
  border-radius: 10px;
  border: solid rgb(120, 14, 117) 1px;
  margin-bottom: 25px;
  background-color: rgb(245, 227, 227);
}
.productos figure p {
  font-size: 1rem;
  line-height: 2rem;
  margin: 15px 10px;
  text-align: center;
}
.productos figure img {
  width: 95%;
}
.productos figure figcaption {
  color: rgb(221, 21, 138);
  font-size: 1.5em;
  margin-top: 10px;
}
.productos figure button {
  border: solid;
  background-color: orchid;
  color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}
.productos figure a {
  text-decoration: none;
}

.tienda {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 80px repeat(3, 300px);
  grid-template-areas: "dos dos cuatro" "dos dos cuatro" "uno uno tres";
  gap: 5px;
}

.tienda .prod1 {
  grid-area: uno;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tienda .prod2 {
  grid-area: dos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tienda .prod3 {
  grid-area: tres;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tienda .prod4 {
  grid-area: cuatro;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width < 1024px) {
  .productos figure {
    width: 48%;
  }
}
@media (width < 768px) {
  /* index */
  .productos {
    padding: 0 20px;
  }
  .productos figure {
    width: 100%;
  }
}
@media (width < 768px) {
  .actions {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .actions .button {
    padding: 0%;
    margin: 2px;
  }
  .tienda {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "uno" "dos" "tres" "cuatro";
  }
  .tienda prod1 {
    flex-direction: column;
  }
  .tienda prod2 {
    flex-direction: column;
  }
  .tienda prod3 {
    flex-direction: column;
  }
  .tienda prod4 {
    flex-direction: column;
  }
  nav {
    justify-content: center;
  }
  nav ul {
    display: none;
  }
  .filters select {
    margin-top: 10px;
    width: 400px;
    background-color: rgb(183, 76, 161);
    padding: 8px;
    border-radius: 4px;
  }
  .filters input[type=checkbox] {
    display: none;
  }
  .actions {
    justify-content: center;
    margin-top: 20px;
  }
  .actions input {
    width: 350px;
  }
  footer {
    flex-direction: column;
  }
  footer a {
    font-size: 1.4em;
  }
  footer div:nth-child(2) {
    margin: 10px 0;
  }
  .productos {
    padding: 0 20px;
  }
  .productos figure {
    width: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: unset;
  }
  .productos figure p {
    padding: 0 20px;
    font-size: 1em;
  }
  .productos figure img {
    width: 70%;
  }
  .productos figure button {
    width: 80%;
  }
  p {
    padding: 0 10px;
  }
}
@media (width < 490px) {
  .actions {
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
  .actions .button {
    flex-wrap: initial;
    padding: 0%;
    margin: 2px;
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
