@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Farsan&display=swap');

*{
font-family: 'Farsan', cursive;
}

.menuinicial{
    background-color: rgb(240, 196, 196)
}

    .menuinicial img{
        width: 100px;
        justify-content: center;
    }

    .menuinicial li a{
        color: rgb(19, 16, 19);
    }

h1,
h2,
h3{
    color:rgb(143, 46, 163);
    font-weight: 500;
}

h1{
    font-size: 2em;
    margin-bottom: 20px;
}

h2{
    font-size: 1.6em;
}

h3{
    font-size: 1.8em;
}

p{
    color: gray;
    font-size: 1.4em;
    line-height: 1.8em;
    padding: 0 20px;
    font-weight: 300;
}

label{
    color: rgb(119, 185, 39);
}



.bg-pattern{
    background-image: url(../img/fondos/bubble.png);
    background-repeat: repeat;
    background-attachment: fixed;
}



.contenedor{
    width: 90%;
    height:auto;
    margin: 20px auto;
    padding: 10px 50px;
    overflow-y: auto;
}

.d-flex{
    display: flex;
}

.productos{
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

    .productos figure{
        width: 30%;
        border-radius: 4px;
        border: solid gray 1px;
        margin-bottom: 20px;
    }

        .productos figure p{
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 20px 0;
            text-align: center;
        }

        .productos figure img{
            width: 100%;
        }

        .productos figure figcaption{
            color: rgb(90, 20, 255);
            font-size: 2.3rem;
            margin-top: 10px;
           
        }

        .productos figure button{
            border: solid;
            background-color: rgb(145, 8, 124);
            color: white;
            border-radius: 8px;
            padding:10px ;
            margin-bottom: 20px;
           
        }
.contacto{
    display: flex;
   justify-content: center;
   flex-direction: row;
}

footer{
    padding: 20px 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(224, 226, 226);
    }

   
    footer a{
        text-decoration: none;
        display: block;
        color: rgb(51, 20, 255);
        font-size: 0.8rem;
        margin-bottom: 4px;
    }

.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actions button{
    margin-left: 10px;
    background-color: rgb(161, 20, 255);
    color: white;
    padding: 6px;
    border: none;
    border-radius: 3px;
}

.actions input{
    padding: 6px;
    border-radius: 3px;
    border: none;
    background-color: rgb(34, 81, 81);
}

.tienda{
    display: grid;
    grid-template-columns: 20% repeat(2,1fr);
    grid-template-rows: 80px repeat(3,300px);
    grid-template-areas: 
    "actions actions actions" 
    "filters uno uno" 
    "filters dos tres"
    "filters dos cuatro";
    gap: 5px;
}

    .tienda section{
        border-radius: 10px;
    }

    .tienda .actions{
        padding: 0 30px;
        grid-area: actions;
    }

    .tienda .filters{
        grid-area: filters;
    }

    .tienda .prod1{
        grid-area: uno;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .tienda .prod2{
       grid-area: dos;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .tienda .prod3{
        grid-area: tres;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tienda .prod4{
        grid-area: cuatro;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.about{
    padding: 10px 0;
}

.about__box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about__box--reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.about__header--left{
    text-align: left;
    margin: 10px 0;
    padding-left: 60px;
}

.about__text--md{
    font-size: 1.8em;
}

.about__link--left{
    display: block;
    text-align: left;
    color:rgb(247, 20, 255);
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 60px;
    margin: 10px 0;
}


@media (width < 768px){
    /* tienda */
    .tienda{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,auto);
        grid-template-areas: 
        "actions" 
        "filters" 
        "uno" 
        "dos" 
        "tres" 
        "cuatro";
    }

        .tienda .prod1{
            flex-direction: column;
        }

    nav{
        justify-content: center;
    }

        nav ul{
            display: none;
        }

    .filters span,
    .filters ul,
    .filters label,
    .filters input[type="checkbox"]{
        display: none;
    }

    .filters select{
        margin-top: 10px;
        width: 400px;
        background-color: rgb(116, 17, 17);
        padding: 8px;
        border-radius: 4px;
    }

    .actions{
        justify-content: center;
        margin-top: 20px;
    }

        .actions input{
            width: 350px;
        }

    

    /* footer */
    footer{
        flex-direction: column;
    }

        footer div:nth-child(2){
            margin: 10px 0;
        }

        footer a{
            font-size: 1.4em;
        }

    /* index */
    .productos figure{
        width: 100%;
    }

        .productos figure p{
            padding: 0 20px;
            font-size: 1.8em;
        }

        .productos figure img{
            width: 50%;
        }

        .productos figure button{
            width: 90%;
        }
    p{
        font-size: 2em;
        padding: 0 10px;
    }
}