* {
  box-sizing: border-box;
}
p {
  font-family: $secondFont;
  @include textos(1.2em, 10px, rgb(69, 62, 70));
}

h1 {
  text-align: center;
  font-family: "Kalam", cursive;
  font-weight: 500;
  padding: 15px;
  color: black;
}
// SECCION DE ANUNCIO CON ANIMACION

.seccion-anuncio {
  background-color: black;
  width: 100%;
  font-size: 0.8rem;
  overflow-x: hidden;
  color: antiquewhite;

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}
.contenedor-envios {
  background-color: black;
  width: 100%;
  position: relative;
  align-items: center;
  margin-left: 10px;
  animation: animation 11s linear infinite;

  a {
    display: flex;
    align-items: center;

    svg {
      margin-top: 1px;
      padding-top: 1px;
    }

    p {
      margin-left: 10px;
      margin-bottom: 0px;
    }
  }
}
.contenedor-descuentos {
  @extend .contenedor-envios;
}
.contenedor-cuotas {
  @extend .contenedor-envios;
}

@keyframes animation {
  0% {
    left: 0%;
    transform: translateX(0%);
  }

  100% {
    left: 100%;
    transform: translateX(100%);
  }
}
// TEMRMINA SECION DE ANUNCIOS CON ANIMACION

.tuEstilo {
  h2 {
    text-align: center;
    position: relative;

    span {
      font-size: 1.1rem;
      z-index: 100;
      position: relative;
      padding: 15px;
    }
  }
}

.actions {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    margin-left: 10px;
    background-color: rgb(187, 128, 226);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 3px;
  }
  input {
    padding: 6px;
    border-radius: 3px;
    border: none;
    background-color: rgb(243, 214, 227);
  }
}

.bg-pattern {
  background-repeat: repeat;
  background-attachment: fixed;
}

.pagina-error-404 {
  @extend .bg-pattern;
}

.contenedor {
  width: 90%;
  height: auto;
  margin: 20px auto;
  padding: 10px 50px;
  overflow-y: auto;
}

.d-flex {
  display: flex;
}

.navbar-brand{
  border-radius: 50%;
}

.about {
  padding: 30 20px;
  padding: 40px;
  font-size: $textSm;
  text-align: justify;
  .__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      padding-top: 30px;
      color: rgb(180, 7, 166);
      font-weight: $fontLight;
      font-family: $mainFont;
    }
  }
}

.favoritos {
  background-color: rgb(239, 188, 219);
  display: flex;
}

.contacto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 30px;
  label {
    color: rgb(26, 25, 27);
  }
}

.ayuda {
  display: flex;
  flex-direction: column;
  text-align: center;
}

li {
  list-style: none;
  a {
    color: rgb(68, 191, 235);
    list-style-type: none;
    text-decoration: none;
    &:hover {
      color: rgb(43, 222, 58);
    }
  }
}

footer {
  padding: 5px 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: deeppink;
  height: auto; 
  p{
    color: white !important;
  }
}

.pagina-error-404 {
  li {
    a {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-weight: $fontBold;
    }
  }
}

.Promos {
  button {
    border: solid;
    background-color: $mainColor;
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: white !important
  }
}

.form-ingreso {
  button {
    background-color: #e73186;
  }
  .form-check {
    .form-check-input {
      background-color: #e73186;
    }
  }
}
