@media (width < 768px){
  
    .tienda{
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: repeat(6,auto);
        grid-template-areas: 
        "actions" 
        "filters" 
        "uno" 
        "dos" 
        "tres" 
        "cuatro";
         prod1{
            flex-direction: column;
              }
         prod2{
            flex-direction: column;
              }
        prod3{
            flex-direction: column;
             }
        prod4{
            flex-direction: column;
             }    
            }

    nav{
        justify-content: center;
         ul{
            display: none;
            }
       }

    .filters{ 
        select{
        margin-top: 10px;
        width: 400px;
        background-color: rgb(183, 76, 161);
        padding: 8px;
        border-radius: 4px;
               }
               span{
               }
               ul{
               }
               label{

               }
               input[type="checkbox"]{
                display: none;
            } 
}

    .actions{
        justify-content: center;
        margin-top: 20px;
            input{
            width: 350px;
                  }
            }
  
    footer{
        flex-direction: column;
             a{
        font-size: 1.4em;
              }
            }

        footer div:nth-child(2){
            margin: 10px 0;
        }

      

   
    .productos figure{
        width: 100%;
    }

        .productos figure p{
            padding: 0 20px;
            font-size: 1.8em;
        }

        .productos figure img{
            width: 50%;
        }

        .productos figure button{
            width: 90%;
        }
    p{
        font-size:$textSm;
        padding: 0 10px;
    }
}