.menuinicial{
    background-color:$mainColor;
    img{
        width: 100px; 
    }
    ul{
        li{
            margin-left: 7px;
            a{
                color:black;
                font-size: $textMd;
                &:hover{
                    color:blueviolet;
                }
            }
        }
    }
}

