.menuinicial{
    background-color:$mainColor;
    img{
        width: 100px; 
    }
    ul{
        li{
            margin-left: 7px;
            a{
                color:white;
                font-size: $textMd;
                &:hover{
                    color:deeppink;
                }
            }
        }
    }
}

.logoMarca{
    text-align:center;
}
 img{
    display: block;
   margin: 0 auto;
 
}
