
.tienda{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 80px repeat(3,300px);
    grid-template-areas: 
  
    "dos dos cuatro"
    "dos dos cuatro"
    "uno uno tres" 
    ;
    gap: 5px;
}


    .tienda .prod1{
        grid-area: uno;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .tienda .prod2{
       grid-area: dos;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .tienda .prod3{
        grid-area: tres;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tienda .prod4{
        grid-area: cuatro;
        display: flex;
        justify-content: center;
        align-items: center;
    }






  

   