
$mainColor:rgb(236, 197, 214);
$footerColor:rgb(131, 123, 125);



@mixin textos($size,$padding,$color){
    font-size: size;
    padding: $padding;
    color:$color
}

$mainFont:'Bitter', serif;
$secondFont:'Roboto', sans-serif;


$textSm:1em;
$textMd:2em;
$textLg:3em;
$textXl:4em;


$fontRegular:300;
$fontBold:600;
$fontLight:100;



.header-gral{
   height: fit-content;
    background-image: url(../img/bannerDesarrolloweb.png);
}

.header-promos{
    @extend .header-gral;
    background-image: url(../img/headersimg/sale50off.jpg);
}


